---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/popular?api_key=***REMOVED***
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"dd154a392082c784f6dba61cb02281dc"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '4462'
      X-Memc-Expires:
      - '9938'
      X-Memc-Key:
      - e6a67ea0f577da24a9a41b1624ed4cf0
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/qhH3GyIfAnGv1pjdV3mw03qAilg.jpg","id":122917,"original_title":"The
        Hobbit: The Battle of the Five Armies","release_date":"2014-12-17","poster_path":"/ehObfVePRIGEfHaYKLG0fgMJoCB.jpg","popularity":78.9503336750996,"title":"The
        Hobbit: The Battle of the Five Armies","video":false,"vote_average":7.5,"vote_count":959},{"adult":false,"backdrop_path":"/fUn5I5f4069vwGFEEvA3HXt9xPP.jpg","id":131631,"original_title":"The
        Hunger Games: Mockingjay - Part 1","release_date":"2014-11-21","poster_path":"/gj282Pniaa78ZJfbaixyLXnXEDI.jpg","popularity":41.2354415773543,"title":"The
        Hunger Games: Mockingjay - Part 1","video":false,"vote_average":7.1,"vote_count":920},{"adult":false,"backdrop_path":"/4liSXBZZdURI0c1Id1zLJo6Z3Gu.jpg","id":76757,"original_title":"Jupiter
        Ascending","release_date":"[...]
