---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/popular?api_key=&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"83f60763776b5220e14d6dfa5788b3ff"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '8702'
      X-Memc-Expires:
      - '5698'
      X-Memc-Key:
      - e6a67ea0f577da24a9a41b1624ed4cf0
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/oYZtd7Md78HuzBvT5dlJlHWc89O.jpg","id":76757,"original_title":"Jupiter
        Ascending","release_date":"2015-02-06","poster_path":"/9D1A46Tkf44r6REj1mXZhHtUQXt.jpg","popularity":37.6260647159461,"title":"Jupiter
        Ascending","video":false,"vote_average":6.2,"vote_count":148},{"adult":false,"backdrop_path":"/fUn5I5f4069vwGFEEvA3HXt9xPP.jpg","id":131631,"original_title":"The
        Hunger Games: Mockingjay - Part 1","release_date":"2014-11-21","poster_path":"/gj282Pniaa78ZJfbaixyLXnXEDI.jpg","popularity":32.4183461742486,"title":"The
        Hunger Games: Mockingjay - Part 1","video":false,"vote_average":7.3,"vote_count":767},{"adult":false,"backdrop_path":"/2BXd0t9JdVqCp9sKf6kzMkr7QjB.jpg","id":177572,"original_title":"Big
        Hero 6","release_date":"2014-1[...]
