---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/550?api_key=TMDB_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"e7094a82b5f803cc011929816a6f0253"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '1249'
      X-Memc-Expires:
      - '20351'
      X-Memc-Key:
      - f5d8d6d123f674ea3be4bd53fba9acb2
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/8uO0gUM8aNqYLs1OsTBQiXu0fEv.jpg","belongs_to_collection":null,"budget":63000000,"genres":[{"id":18,"name":"Drama"}],"homepage":"","id":550,"imdb_id":"tt0137523","original_language":"en","original_title":"Fight
        Club","overview":"A ticking-time-bomb insomniac and a slippery soap salesman
        channel primal male aggression into a shocking new form of therapy. Their
        concept catches on, with underground \"fight clubs\" forming in every town,
        until an eccentric gets in the way and ignites an out-of-control spiral toward
        oblivion.","popularity":3.132194299941,"poster_path":"/2lECpi35Hnbpa4y46JX0aY3AWTy.jpg","production_companies":[{"name":"20th
        Century Fox","id":25},{"name":"Fox 2000 Pictures","id":711},{"name":"Regency
        Enterprises","id":508}],"production_countries":[{"iso_3166_1":"DE","name":"Germany"},{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1999-10-14","revenue":100853753,"runtime":139,"spoken_languages":[{"iso_639_1":"en","name":"English"}],"status":"Released","tagline":"How
        much can you know about yourself if you''ve never been in a fight?","title":"Fight
        Club","video":false,"vote_average":7.8,"vote_count":3370}'
  recorded_at: Thu, 02 Apr 2015 19:00:25 GMT
recorded_with: VCR 2.9.3
