- crew.each do |department, members|
  %dl.dl-horizontal
    %dt.text-uppercase= department
    %dd

    - members.each do |job, members|
      - first_member, *rest_members = members

      %dt= job
      %dd= link_to first_member.name, person_path(first_member.id)
      - rest_members.each do |member|
        %dd= link_to member.name, person_path(member.id)
