- if movie.release_date.present?
  %span.label.label-info= movie.release_date

- if movie.budget.present?
  %span.label.label-info= movie.budget

- if movie.runtime.present?
  %span.label.label-info #{movie.runtime} min

- if movie.vote_average.present?
  %span.label.label-info
    %i.fa.fa-star
    = movie.vote_average
