%ul.nav.nav-tabs.movie-filters
  = active_link_to 'Popular',     movies_path(o: :popular),     wrap_tag: :li, active: /popular/
  = active_link_to 'Top Rated',   movies_path(o: :top_rated),   wrap_tag: :li, active: /top_rated/
  = active_link_to 'Upcoming',    movies_path(o: :upcoming),    wrap_tag: :li, active: /upcoming/
  = active_link_to 'Now Playing', movies_path(o: :now_playing), wrap_tag: :li, active: /now_playing/
