%ul.nav.nav-tabs.nav-justified.movie-filters
  = active_link_to "Top Rated",   ordered_movies_path(order: "top_rated"),   wrap_tag: :li
  = active_link_to "Upcoming",    ordered_movies_path(order: "upcoming"),    wrap_tag: :li
  = active_link_to "Now Playing", ordered_movies_path(order: "now_playing"), wrap_tag: :li
