.col-xs-12
  %h2 Videos

- trailers.each do |trailer|
  .col-xs-12.col-sm-6
    .embed-responsive.embed-responsive-16by9
      %iframe.embed-responsive-item{src: youtube_url(trailer.source), allowfullscreen: true}
