.row
  .col-sm-12
    = render "order_nav"
.row
  - @movies.to_enum.with_index(1) do |movie, i|
    .col-xs-6.col-sm-3
      %a.thumbnail
        = image_tag movie.poster_url, alt: movie.title, width: movie.poster_width
    = responsive_columns_fix(i, xs: 2, sm: 4, md: 4, lg: 4)
