---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/latest?api_key=TMDB_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"f4af583f0a6d5e1e4e609f97ee569289"'
      Last-Modified:
      - 2015-04-02 18:57:03 UTC
      Status:
      - 200 OK
      X-Memc:
      - MISS
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '0'
      X-Memc-Key:
      - 7d7c5a5093dfb9d7fcd7412f9fd461eb
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":null,"belongs_to_collection":null,"budget":0,"genres":[],"homepage":null,"id":334025,"imdb_id":"tt0276585","original_language":"en","original_title":"Captured
        on Film: The True Story of Marion Davies","overview":null,"popularity":0.0,"poster_path":null,"production_companies":[],"production_countries":[],"release_date":"","revenue":0,"runtime":null,"spoken_languages":[],"status":"Released","tagline":null,"title":"Captured
        on Film: The True Story of Marion Davies","video":false,"vote_average":0.0,"vote_count":0}'
  recorded_at: Thu, 02 Apr 2015 19:00:32 GMT
recorded_with: VCR 2.9.3
