---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/popular?api_key=<TMDB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"df18f0b7366118b8f8e66d7d4c11b556"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '2562'
      X-Memc-Expires:
      - '11838'
      X-Memc-Key:
      - e6a67ea0f577da24a9a41b1624ed4cf0
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/xu9zaAevzQ5nnrsXN6JcahLnG4i.jpg","id":157336,"original_title":"Interstellar","release_date":"2014-11-05","poster_path":"/nBNZadXqJSdt05SHLqgT0HuC5Gm.jpg","popularity":61.0165920763902,"title":"Interstellar","video":false,"vote_average":8.7,"vote_count":1548},{"adult":false,"backdrop_path":"/qhH3GyIfAnGv1pjdV3mw03qAilg.jpg","id":122917,"original_title":"The
        Hobbit: The Battle of the Five Armies","release_date":"2014-12-17","poster_path":"/vgAHvS0bT3fpcpnJqT6uDTUsHTo.jpg","popularity":36.9481998830064,"title":"The
        Hobbit: The Battle of the Five Armies","video":false,"vote_average":7.4,"vote_count":1039},{"adult":false,"backdrop_path":"/fUn5I5f4069vwGFEEvA3HXt9xPP.jpg","id":131631,"original_title":"The
        Hunger Games: Mockingjay - Part 1","release_date":"2014-11-21","poster_path":"/gj282Pniaa78ZJfbaixyLXnXEDI.jpg","popularity":31.7793901972757[...]
