---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/popular?api_key=TMDB_API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"7c9aa7a77452eebd2f6086535a05a8d0"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '12057'
      X-Memc-Expires:
      - '2343'
      X-Memc-Key:
      - e6a67ea0f577da24a9a41b1624ed4cf0
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/xu9zaAevzQ5nnrsXN6JcahLnG4i.jpg","id":157336,"original_title":"Interstellar","release_date":"2014-11-05","poster_path":"/gpQ3rfSwUvHUg5N1Lzh9u9wSi83.jpg","popularity":52.6583776355349,"title":"Interstellar","video":false,"vote_average":8.5,"vote_count":1770},{"adult":false,"backdrop_path":"/qhH3GyIfAnGv1pjdV3mw03qAilg.jpg","id":122917,"original_title":"The
        Hobbit: The Battle of the Five Armies","release_date":"2014-12-17","poster_path":"/ehObfVePRIGEfHaYKLG0fgMJoCB.jpg","popularity":26.0453267980365,"title":"The
        Hobbit: The Battle of the Five Armies","video":false,"vote_average":7.4,"vote_count":1126},{"adult":false,"backdrop_path":"/4liSXBZZdURI0c1Id1zLJo6Z3Gu.jpg","id":76757,"original_title":"Jupiter
        Ascending","release_date":"2015-02-27","poster_path":"/aMEsvTUklw0uZ3gk3Q6lAj6302a.jpg","popularity":25.2692581874147,"title":"Jupiter
   [...]
[...]
