body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url(image_path('subtle_grunge.png'));
}

#profile_image {
  margin-right: 5px;
}

.trailer {
  margin-bottom: 20px;
}

.movie-filters {
  margin-bottom: 20px;
}

h1.page-header {
  margin-top: 20px;
}

// Fix the flash close button.
.close {
  float: right;
  font-size: 22px;
  font-weight: bold;
  line-height: 1;
  color: black;
  opacity: 0.6;
}

/* From Bootstrap docs.
   Rendering problems can arise when you have dozens of inline labels within a
   narrow container, each containing its own inline-block element (like an
   icon). The way around this is setting display: inline-block;. For context and
   an example. See https://github.com/twbs/bootstrap/issues/13219. */
.label {
  display: inline-block;
}
