body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url(image_path('subtle_grunge.png'));
}

#profile_image {
  margin-right: 5px;
}

.trailer {
  margin-bottom: 20px;
}

.movie-filters {
  margin-bottom: 20px;
}

h1.page-header {
  margin-top: 20px;
}

// Fix the flash close button.
.close {
  float: right;
  font-size: 22px;
  font-weight: bold;
  line-height: 1;
  color: black;
  opacity: 0.6;
}
